<form action="answer">
  <h1 class='banner'> Stupid Coaching </h1>
  <p> Ask your coach everything! </p>
  <input type="text" name="answer" value = "<% params[:answer] %>">
  <input type="submit"  value="Ask!">
</form>